<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CVE List</title>
    <script>
      async function fetchData() {
        let resultsPerPage = document.getElementById("rows").value;
        let year = document.getElementById("year").value;
        let minScore = document.getElementById("minScore").value;
        let maxScore = document.getElementById("maxScore").value;

        let queryParams = `resultsPerPage=${encodeURIComponent(
          resultsPerPage
        )}`;
        if (year) queryParams += `&year=${encodeURIComponent(year)}`;
        if (minScore)
          queryParams += `&min_score=${encodeURIComponent(minScore)}`;
        if (maxScore)
          queryParams += `&max_score=${encodeURIComponent(maxScore)}`;

        let response = await fetch(`/cves/list?${queryParams}`);
        let data = await response.json();

        document.getElementById(
          "total"
        ).innerText = `Total Records: ${data.total}`;

        let table = document.getElementById("cveTable");
        table.innerHTML =
          "<tr><th>ID</th><th>Description</th><th>Severity</th></tr>";

        data.cves.forEach((cve) => {
          let row = `<tr onclick="window.location='/cves/${cve.id}'">
                  <td>${cve.id}</td><td>${cve.description}</td><td>${cve.severity}</td></tr>`;
          table.innerHTML += row;
        });
      }

      window.onload = function () {
        document.getElementById("rows").addEventListener("change", fetchData);
        document.getElementById("year").addEventListener("change", fetchData);
        document
          .getElementById("minScore")
          .addEventListener("change", fetchData);
        document
          .getElementById("maxScore")
          .addEventListener("change", fetchData);
        fetchData();
      };
    </script>
  </head>
  <body>
    <h1>CVE List</h1>

    <label for="rows">Select number of rows:</label>
    <select id="rows">
      <option value="5">5</option>
      <option value="10" selected>10</option>
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>

    <label for="year">Year:</label>
    <input type="number" id="year" placeholder="YYYY" />

    <label for="minScore">Min Score:</label>
    <input type="number" id="minScore" step="0.1" placeholder="0.0" />

    <label for="maxScore">Max Score:</label>
    <input type="number" id="maxScore" step="0.1" placeholder="10.0" />

    <p id="total"></p>
    <table id="cveTable" border="1"></table>
  </body>
</html>
